<!-- listar os usuarios -->
<% usuarios.forEach(function(usuario){ %>
 <h4>Seu nome:<%= usuario.nome %>   </h4>
 <h4>Seu usuario:<%=   usuario.usuario %></h4>
 <h4>Sua senha:<%=   usuario.senha %></h4>
<%  });%>