<form action="/cadastro" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">usuario:</label>
      <input type="text" class="form-control"name="usuario" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">nome:</label>
        <input type="text" class="form-control" name="nome" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">senha:</label>
      <input type="password" class="form-control" name="senha" >
    </div>
    <button type="submit" class="btn btn-primary">cadastrar</button>
  </form>